[submodule "libinjection"]
	path = libinjection
	url = https://github.com/fesily/libinjection
[submodule "lua-aho-corasick"]
	path = lua-aho-corasick
	url = https://github.com/fesily/lua-aho-corasick
[submodule "test-cases/secrules-language-tests"]
	path = test-cases/secrules-language-tests
	url = https://github.com/SpiderLabs/secrules-language-tests
[submodule "lua-resty-hyperscan"]
	path = lua-resty-hyperscan
	url = https://github.com/fesily/lua-resty-hyperscan.git
